.text-animate {
    opacity: 0;
    animation: fadeIn 1s 1s;
    animation-fill-mode: forwards;
    min-width: 10px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

@for $i from 0 through 15  {
    .text-animate._#{$i} {
        animation-delay: #{$i / 10}s;
    }
}