.contact__fullpage {
    width: 100%;
}

.contact__menuNcont {
    height: 100vh;
    width: 100%
}

.contact__mapNsoc {
    height: 100vh;
    width: 100%
}

.contact__content-menu { 
    width: 100%;
    display: flex;
    justify-content: center;
}

.c-contact-content-first {
    margin-top: 100px;
}

.contact__content-content {
    animation: fadeIn 2.1s backwards;
}

.c-contact {
    font-size: 72px;
    color: white;
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-shadow: 1px 2px 4px white;
    line-height: 110px;
}


.c-contact-info {
    padding-top: 16px;
    font-size: 24px;
}

.c-contact-form-holder {
    display: flex;
    flex-flow: column;
    text-align: left;
    align-items: center;
    font-size: 22px;

    input {
        height: 40px;
        font-size: 22px;
        background-color: #242424;
        border: none;
        color: white;
        height: 50px;
        width: 100%;
        padding: 0px 5px 0px 5px;
    }

    input::placeholder, textarea::placeholder {
        color:#242424;
    }

    div {
        margin-top: 20px;
    }
}

.c-contact-firstLine {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.c-contact-form-name {
    width: 230px;

}

.c-contact-form-email {
    width: 230px;

}

.c-contact-form-subject {
    width: 500px;

}

.c-contact-form-message {
    width: 500px;
    textarea {
        width:100%;
        background-color: #242424;
        border: none;
        font-size: 20px;
        color: white;
        height: 200px;
        padding: 0px 5px 0px 5px;
    }
}

.c-contact-submit {
    margin-top: 10px;
    font-size: 26px;
    background: transparent;
    color: white;
    padding: 6px 12px 6px 12px;
    border: 1px solid white;
    transition: all 0.3s ease-out;
}

.c-contact-submit:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .c-contact-content-first {
        margin-top: 0px;
        div {
            font-size: 20px;
        }
        h1 {
            font-size: 44px;
        }
    }

    .c-contact-firstLine {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .c-contact-form-email, .c-contact-form-name {
        width: 60%;
        input {
            height: 40px;
        }
    }

    .c-contact-form-subject, .c-contact-form-message {
        width: 60%;
        input {
            height: 40px;
        }
    }
  }
  
  @media only screen and (max-height: 1000px) {
    .c-contact-content-first {
        margin-top: 0px;
    }

    .c-contact-form-holder {
        div {
            margin-top: 2px;
        }
    }
  }

  @media only screen and (max-height: 800px) {
    label {
        display: none;
    }
    br {
        display:none;
    }

    .c-contact-form-holder input::placeholder,.c-contact-form-holder textarea::placeholder {
        color: lightgrey;
    }
  }